body, html {
    margin: 0 auto;
    height: 100vh;
}

body {
    display: flex;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}